<% if @u && @u.errors.any? %>

    <% @u.errors.full_messages.each do |msg| %>
        <p style="color: red;"><%= msg %></p>
    <% end %>

<% end %>

<h1>Login to your favorite stock company tracker!</h1>
<form action="/signup" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Location: <input type="text" name="location"></p>
  <p>Age: <input type="text" name="age"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>


<a href="/login">Log In</a>
