<div class="container center">
</div>
<h2 class="byline2" id="byline2"> The Stock Watchlist</h2>
<h3>Create a New Watchlist</h3>

<form action="/watchlists" method="POST" class="center-right">
  <input type="text" name="watchlist[name]" id="watchlist_name" placeholder="Watchlist Name"><br>
  <input type="submit" class="btn btn-primary" value="Create Watchlist">
</form>
