<h1>Create a New Watchlist</h1>

<form action="/watchlists" method="POST">
  <label>Watchlist Name:</label>
  <input type="text" name="watchlist[name]" id="watchlist_name">
  <input type="submit" value="Create Watchlist">
</form>
