
<h1> Update Stock</h1>

<h2>Edits for <%= @stock.name %></h2>

  <form action="/stocks/<%= @stock.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Stock's Name:</label>
    <input type="text" name="stock[name]" id= "stock_name" value="<%= @stock.name %>">

    <input type="submit" value="Update Stock">
  </form>


  <form method="POST" action="/stocks/<%= @stock.id %>">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="delete"/>
  </form>
