<h1 class="byline2" id="byline2"> The Stock Watchlist</h1>
<h3>Search for a New Stock to add to your Watchlists</h3>

<% if @error %>
<% @current_id = @watchlist_id %>
<p style="color: red;"> <%= @stock %> not found </p>
<% end %>
<br>
<br>
<div class="center2">
<form action="/stocks" method="POST" >
  <input type="text" name="stock[name]" id="stock_name" placeholder="Type the Stock Ticker:">
  <input type="hidden" name="watchlist_id" value="<%=@current_id%>">
   <button type="submit" class="btn btn-primary">Search for Stock</button>
</form>
</div>
