<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>StockTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <% if current_user == nil %>
        <a href="/login"> LOGIN </a>
        <a href="/signup"> SIGN UP </a>
        <% else %>
        <h1> Welcome
        <%= current_user.username %> </h1>
          <%= yield %>
        <a href="/watchlists"> See your watchlist </a>
        <a href="/logout"> Logout </a>
        <% end %>
       </nav>
      <footer class="branding">
        <small>&copy; 2020 <strong>StockTracker</strong></small>
      </footer>
    </div>
  </body>
</html>
